{% extends "base.html" %}
{% block title %}Crear Reserva{% endblock %}

{% block content %}
<div class="container mt-5 pt-5">

    <div class="card shadow-lg border-0 rounded-4">
        <div class="card-header bg-warning text-dark fw-bold fs-4 rounded-top-4">
            Nueva Reserva
        </div>

        <div class="card-body bg-dark text-white">

            <form method="POST">
                {% csrf_token %}

                <div class="row">

                    {% for field in form %}
                        <div class="col-md-6 mb-3">
                            <label class="form-label fw-bold">
                                {{ field.label }}
                            </label>

                            {{ field }}

                            {% for error in field.errors %}
                                <div class="text-danger small">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}

                </div>

                <div class="text-end mt-4">
                    <button type="submit" class="btn btn-warning fw-bold shadow px-4">
                        Guardar
                    </button>

                    <a href="{% url 'reservas:listar' %}" class="btn btn-secondary shadow px-4">
                        Cancelar
                    </a>
                </div>

            </form>

        </div>
    </div>

</div>
{% endblock %}

