{% extends 'base.html' %}
{% block title %}Recuperar contraseña{% endblock %}

{% block content %}
<section class="d-flex align-items-center justify-content-center text-white" style="min-height:80vh">
    <div class="col-md-4">
        <div class="card bg-dark text-white shadow">
            <div class="card-body p-4">
                <h4 class="text-center mb-3">Recuperar contraseña</h4>
                <p class="text-center text-muted small">
                    Ingresa tu correo y te enviaremos un enlace.
                </p>

                <form method="post">
                    {% csrf_token %}
                    {{ form.email.label_tag }}
                    {{ form.email }}

                    <button class="btn btn-warning w-100 mt-3">
                        Enviar correo
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
