{% extends 'base.html' %}
{% block content %}
<section class="d-flex justify-content-center mt-5 text-white">
    <div class="col-md-4">
        <div class="card bg-dark p-4">
            <h4 class="text-center mb-3">Nueva contraseña</h4>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-warning w-100">
                    Cambiar contraseña
                </button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
